*.[a|o]
*.la
*.lo

.*
!.gitignore

ceph-0.72/autom4te.cache/
ceph-0.72/config.log
ceph-0.72/config.status
ceph-0.72/libtool
ceph-0.72/src/acconfig.h
ceph-0.72/src/acconfig.h.in~
ceph-0.72/src/ceph
ceph-0.72/src/ceph-authtool
ceph-0.72/src/ceph-conf
ceph-0.72/src/ceph-coverage
ceph-0.72/src/ceph-debugpack
ceph-0.72/src/ceph-dencoder
ceph-0.72/src/ceph-fuse
ceph-0.72/src/ceph-mds
ceph-0.72/src/ceph-mon
ceph-0.72/src/ceph-osd
ceph-0.72/src/ceph-post-file
ceph-0.72/src/ceph-syn
ceph-0.72/src/ceph_filestore_dump
ceph-0.72/src/ceph_mon_store_converter
ceph-0.72/src/ceph_ver.h
ceph-0.72/src/cephfs
ceph-0.72/src/crushtool
ceph-0.72/src/get_command_descriptions
ceph-0.72/src/gtest/autom4te.cache/
ceph-0.72/src/gtest/build-aux/compile
ceph-0.72/src/gtest/build-aux/config.h	
ceph-0.72/src/gtest/build-aux/config.h.in~
ceph-0.72/src/gtest/build-aux/stamp-h1
ceph-0.72/src/gtest/build-aux/test-driver
ceph-0.72/src/gtest/config.log
ceph-0.72/src/gtest/config.status
ceph-0.72/src/gtest/libtool
ceph-0.72/src/gtest/scripts/gtest-config
ceph-0.72/src/init-ceph
ceph-0.72/src/librados-config
ceph-0.72/src/mkcephfs
ceph-0.72/src/monmaptool
ceph-0.72/src/mount.ceph
ceph-0.72/src/ocf/ceph
ceph-0.72/src/ocf/rbd
ceph-0.72/src/osdmaptool
ceph-0.72/src/rados
ceph-0.72/src/radosgw
ceph-0.72/src/radosgw-admin
ceph-0.72/src/rbd
ceph-0.72/src/rbd-fuse
ceph-0.72/src/sample.fetch_config
ceph-0.72/src/stamp-h1
ceph-0.72/test-driver
ceph-0.72/src/gtest/build-aux/config.h

qemu-stable-1.5/roms/seabios/
qemu-stable-1.5/roms/vgabios/
